<footer class="footer" id="contact">
	<div class="container">
		<section class="footer__section">
			<p class="footer__section__info">All rights reserved 2015</p>
			<nav class="footer__section__icon" >
				<a class="footer__section__icon__link footer__section__icon__link-tw" href="https://twitter.com/">
					<img src="images/icon/footer-icon1.png">
				</a>
				<a class="footer__section__icon__link footer__section__icon__link-fb" href="https://facebook.com/">
					<img src="images/icon/footer-icon2.png">
				</a>
				<a class="footer__section__icon__link footer__section__icon__link-vk" href="https://vk.com/">
					<img src="images/icon/footer-icon3.png">
				</a>
			</nav>
			<div class="footer__section__tel">
				<a class="footer__section__tel__link" href="tel: 1234243123">1 234 243 123 </a>
			</div>
		</section>
	</div>
</footer>

