<header class="header">
    <div class="header_marker"> </div>
    <div class="container">
        <aside class="header_head">
            <p class="header_logo">Moun<span>tains</span></p>
            <nav class="header_menu">
                <a class="header_menu_link" href="#about">our story</a>
                <a class="header_menu_link" href="#services">services</a>
                <a class="header_menu_link" href="#work">work</a>
                <a class="header_menu_link" href="#jurnal">journal</a>
                <a class="header_menu_link" href="#contact">contact</a>
                <a class="header_menu_link" href="#work">work</a>
                <a class="header_menu_link" href="#jurnal">journal</a>
            </nav>
            <div class="call-us_button">
                <a class="header_menu_link" href="">call us</a>
            </div>
        </aside>
        <article class="header_content">
            <h2 class="header_title">TRAVEL  WITH US <p>to the Mountains</p></h2>
            <p class="header_description">Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor incidid </p>
            <form class="header_form">
                <button class="header_button" type="submit">order now</button>
            </form>
        </article>
    </div>
</header>