<section class="section_work" id="work">
	<div class="container">
		<h1 class="title section_work__title">How we work</h1>
		<div class="section_work__stage">
			<p class="section_work__stage__number">1</p>
			<p class="section_work__stage__number">2</p>
			<p class="section_work__stage__number">3</p>
			<p class="section_work__stage__number">4</p>
		</div>
		<div class="section_work__icons">
			<figure class="section_work__icons__icon">
				<img class="section_work__icons__icon-img" src="images/icon/work-icon1.png" alt="">
			</figure>
			<figure class="section_work__icons__icon">
				<img class="section_work__icons__icon-img" src="images/icon/work-icon2.png" alt="">
			</figure>
			<figure class="section_work__icons__icon">
				<img class="section_work__icons__icon-img" src="images/icon/work-icon3.png" alt="">
			</figure>
			<figure class="section_work__icons__icon">
				<img class="section_work__icons__icon-img" src="images/icon/work-icon4.png" alt="">
			</figure>
		</div>
		<div class="section_work__content">
			<div class="section_work__content__stage">
				<h3 class="section_work__content__stage__title">Lorem ipsum dolor sit</h3>
				<p class="section_work__content__stage__description">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
			</div>
			<div class="section_work__content__stage">
				<h3 class="section_work__content__stage__title">Lorem ipsum dolor sit</h3>
				<p class="section_work__content__stage__description">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
			</div>
			<div class="section_work__content__stage">
				<h3 class="section_work__content__stage__title">Lorem ipsum dolor sit</h3>
				<p class="section_work__content__stage__description">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
			</div>
			<div class="section_work__content__stage">
				<h3 class="section_work__content__stage__title">Lorem ipsum dolor sit</h3>
				<p class="section_work__content__stage__description">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
			</div>
		</div>
	</div>
</section>

