<section class="section_jurnal" id="jurnal">
	<div class="container">
		<h2 class="title section_jurnal__title">Our jurnal</h2>
		<article class="section_jurnal__main-content">
			<div class="section_jurnal__main-content__image section_jurnal__main-content__image-love">
				<figure class="section_jurnal__main-content__image__icon">
					<img src="images/icon/jurnal-icon1.png">
				</figure>
			</div>
			<div class="section_jurnal__main-content__article">
				<h3 class="section_jurnal__main-content__article__title1">love</h3>
				<h4 class="section_jurnal__main-content__article__title2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</h4>
				<p class="section_jurnal__main-content__article__description">You know how to make best coffee in the universe? Or, maybe you're very good in designing gloves?  Tell everyone about your experience and skills</p>
				<p class="section_jurnal__main-content__article__number">01</p>
			</div>
			<div class="section_jurnal__main-content__image section_jurnal__main-content__image-water">
				<figure class="section_jurnal__main-content__image__icon">
					<img src="images/icon/jurnal-icon2.png">
				</figure>
			</div>
			<div class="section_jurnal__main-content__article">
				<h3 class="section_jurnal__main-content__article__title1">Tree</h3>
				<h4 class="section_jurnal__main-content__article__title2">Lorem ipsum dolor sit amet, <s>consectetur</s> adipisicing elit,</h4>
				<p class="section_jurnal__main-content__article__description">The way to a successful brand is hard, dut always very interesting. Share the full story of your project-from the very, first day until now</p>
				<p class="section_jurnal__main-content__article__number">02</p>
			</div>
			<div class="section_jurnal__main-content__image section_jurnal__main-content__image-tree">
				<figure class="section_jurnal__main-content__image__icon">
					<img src="images/icon/jurnal-icon3.png">
				</figure>
			</div>
			<div class="section_jurnal__main-content__article">
				<h3 class="section_jurnal__main-content__article__title1">Water</h3>
				<h4 class="section_jurnal__main-content__article__title2">Little pieces of our proudness.</h4>
				<p class="section_jurnal__main-content__article__description">What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?</p>
				<p class="section_jurnal__main-content__article__number">03</p>
			</div>
		</article>
	</div>
</section>

