<section class="section_about" id="about">
	<div class="container">
		<article class="section_about__article">
				<h2 class="title section_about__article__title">About us</h2>
				<p class="section_about__article__content">Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.</p>
					<form class="section_about__article__form">
						<button class="section_about__article__form__button" type="submit">read more</button>
					</form>
			</article>
			<aside class="section_about__gallery">
				<figure class="section_about__gallery__img1">
					<img src="images/picture/about-1.jpg" alt="">
				</figure>
				<figure class="section_about__gallery__img2">
					<img src="images/picture/about-2.jpg" alt="">
				</figure>
			</aside>
	</div>
</section>

