<section class="section_gallery">
	<div class="container">
		<h1 class="title section_gallery__title">Gallery</h1>
		<article class="section_gallery__gallery">
			<figure class="section_gallery__photo">
				<img src="images/picture/gallery-1.jpg" alt="">
			</figure>
			<figure  class="section_gallery__photo">
				<img src="images/picture/gallery-2.jpg" alt="">
			</figure>
			<figure  class="section_gallery__photo">
				<img src="images/picture/gallery-3.jpg" alt="">
			</figure>
			<figure  class="section_gallery__photo">
				<img src="images/picture/gallery-4.jpg" alt="">
			</figure>
			<figure  class="section_gallery__photo section_gallery__photo5">
				<img src="images/picture/gallery-5.jpg" alt="">
			</figure>
			<figure  class="section_gallery__photo">
				<img src="images/picture/gallery-6.jpg" alt="">
			</figure>
		</article>
	</div>
</section>

