<section class="section_go">
	<div class="container">
		<h1 class="title section_go__title">do you wanna go?</h1>
		<p class="section_go__description">Aliquam sed posuere urna, et gravida nisl. Praesent<br>interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus</p>
		<form class="section_go__form">
			<input class="section_go__form__name" type="text" name="name" required placeholder="Your name:" id="form-go">
			<input class="section_go__form__tel" type="tel" name="phone" required placeholder="Your phone:">
			<button class="section_go__form__order" type='submit'>Order now</button>
		</form>
		<label  class="section_go__lable" for="form-go">
			<i class="section_go__label__icon">
				<img src="images/icon/form-go.png" alt="">
			</i>
			<span class="section_go_lable__caption">* Your data will not be transferred</span>
		</label>

	</div>
</section>

