<section class="section_icon">
	<div class="container">
		<nav class="section_icon__menu">
			<a class="section_icon__menu__link" href="https://slack.com/">
				<img src="images/icon/icons-1.png">
			</a>
			<a class="section_icon__menu__link" href="https://adobe.com/">
				<img src="images/icon/icons-2.png">
			</a>
			<a class="section_icon__menu__link" href="https://accounts.google.com/">
				<img src="images/icon/icons-3.png">
			</a>
			<a class="section_icon__menu__link" href="https://facebook.com">
				<img src="images/icon/icons-4.png">
			</a>
			<a class="section_icon__menu__link" href="https://spotify.com">
				<img src="images/icon/section-icon5.png">
			</a>
			<a class="section_icon__menu__link" href="https://nike.com">
				<img src="images/icon/section-icon6.png">
			</a>
		</nav>
	</div>
</section>

