<section class="section_travel" id="services">
	<div class="section_travel--background"> 
		<div class="container">
			<h1 class="title section_travel__title">Travel with us</h1>
			<ul class="section_travel__list">
				<li class="section_travel__list__item section_travel__list__item__carpathian">
					<p class="section_travel__list_item__stars">&#9733 &#9733 &#9733 &#9733</p>
					<h2 class="section_travel__list__item__title">Carpathian</h2>
					<p class="section_travel__list__item__description">Lorem ipsum dolor si amet, consectetur</p>
					<div class="section_travel__list__item__price">
						<p class="section_travel__list__item__price--last">3150$</p>
						<p class="section_travel__list__item__price--new">$793</p>
					</div>
					
				</li>
				<li class="section_travel__list__item section_travel__list__item__alps">
					<p class="section_travel__list_item__stars">&#9733 &#9733 &#9733 &#9733 &#9733</p>
					<h2 class="section_travel__list__item__title">Alps</h2>
					<p class="section_travel__list__item__description">Lorem ipsum dolor si amet, consectetur</p>
					<div class="section_travel__list__item__price">
						<p class="section_travel__list__item__price--last">3150$</p>
						<p class="section_travel__list__item__price--new">$1893</p>
					</div>
				</li>
				<li class="section_travel__list__item section_travel__list__item__pyrenees">
					<p class="section_travel__list_item__stars">&#9733 &#9733 &#9733 &#9733 &#9733</p>
					<h2 class="section_travel__list__item__title">Pyrenees</h2>
					<p class="section_travel__list__item__description">Lorem ipsum dolor si amet, consectetur</p>
					<div class="section_travel__list__item__price">
						<p class="section_travel__list__item__price--last">3150$</p>
						<p class="section_travel__list__item__price--new">$2593</p>
					</div>
				</li>
				<li class="section_travel__list__item section_travel__list__item__rocky">
					<p class="section_travel__list_item__stars">&#9733 &#9733 &#9733 &#9733 &#9733</p>
					<h2 class="section_travel__list__item__title">Rocky</h2>
					<p class="section_travel__list__item__description">Lorem ipsum dolor si amet, consectetur</p>
					<div class="section_travel__list__item__price">
						<p class="section_travel__list__item__price--last">3150$</p>
						<p class="section_travel__list__item__price--new">$2123</p>
					</div>
				</li>
				<li class="section_travel__list__item section_travel__list__item__kavkaz">
					<p class="section_travel__list_item__stars">&#9733 &#9733 &#9733</p>
					<h2 class="section_travel__list__item__title">Kavkaz</h2>
					<p class="section_travel__list__item__description">Lorem ipsum dolor si amet, consectetur</p>
					<div class="section_travel__list__item__price">
						<p class="section_travel__list__item__price--last">3150$</p>
						<p class="section_travel__list__item__price--new">$593</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

