<section class="section_clients">
	<div class="container">
		<h1 class="title section_clients__title">Our clients say</h1>
		<article class="section_clients__review">
			<aside class="section_clients__review__reviewer">
				<h3 class="section_clients__review__reviewer__title">&#8216&#8216</h3>
				<p class="section_clients__review__reviewer__text" >
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ex aliquip ex ea commodo consequat. Duis aute irure in reprehenderit in voluptate velit esse
				</p>
				<figure class="section_clients__review__reviewer__info">
					<img class="section_clients__review__reviewer__foto" src="images/icon/face-1.png">
					<figcaption class="section_clients__review__reviewer__caption"> Pavliv Yaroslav
						<span class="section_clients__review__reviewer__caption2">
							Web designer
						</span>
					</figcaption>
				</figure>
			</aside>
			<aside class="section_clients__review__reviewer">
				<h3 class="section_clients__review__reviewer__title">&#8216&#8216</h3>
				<p class="section_clients__review__reviewer__text" >
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ex aliquip ex ea commodo consequat. Duis aute irure in reprehenderit in voluptate velit esse
				</p>
				<figure class="section_clients__review__reviewer__info">
					<img class="section_clients__review__reviewer__foto" src="images/icon/face-2.png">
					<figcaption class="section_clients__review__reviewer__caption"> 
						John Scott
						<span class="section_clients__review__reviewer__caption2">
							The Fringe
						</span>
					</figcaption>
				</figure>
			</aside>
		</article>
		<form class="section_clients__contacts">
			<div class="section_clients__contacts__bg"></div>
			<div class="section_clients__contacts__bg2"></div>
			<h2 class="section_clients__contacts__title">Contacts</h2>
			<label class="section_clients__contacts__label">Sign up for our newsletter to receive updates
				<input class="section_clients__contacts__field" type="text" name="name" placeholder="Name" required>
				<input class="section_clients__contacts__field" type="tel" name="phone" placeholder="Phone" required>
				<input class="section_clients__contacts__field" type="email" name="e-mail" placeholder="E-mail" required>
				<button class="section_clients__contacts__button">Send</button>
			</label>
		</form>
	</div>
</section>

